
.containers {
    margin-top: 60px;
    .content{
        display: block;
        text-align: -webkit-center;

        .seccion-img{
            width: 100px;
            max-width: 100px;
            height: 100px;
            min-width: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 100%;
            }
          }
          h4{
              margin-top: 10px;
              margin-bottom: 0px;
          }
          .copyright{
            font-size: 14px;
            color: #6f777b;
          }
    }
    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}