.card-categoria {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 140px;
  width: 100px;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  position: relative;

  display: inline-block;
  margin-right: 10px;
  .logo-card {
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px solid #123;
    padding: 4px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    img {
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .nombre {
    font-size: 11px;
    position: absolute;
    bottom: -8px;
    -webkit-text-stroke: 0.7px #fff;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 90%;
    left: 5px;
  }
}
