.new {
  background: none repeat scroll 0 0 #fff; /* color de fondo */
  color: #FFFFFF; /* color de texto */
  margin: 2em auto;
  overflow: hidden;
  padding: 1em 1.5em;
  position: relative;
  width: 100%; /* ancho */
}
.new:before {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-color: #FFFFFF #f3efef #696969 #ffffff;
  border-style: dashed;
  border-width: 0 16px 16px 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}