<ion-menu side="start" contentId="main">
  <section class="header-menu">
    <img class="img-header" src="assets/imgs/login/fondo.png" alt="">

    <section class="user">
      <img src="assets/imgs/logo-sup.png" alt="" class="img-logo">

      <div class="user-data">
        <p>Juan López Sarrelague</p>
        <p>sarrejuan@gmail.com</p>
      </div>
    </section>

  </section>

  <section class="item-list">
    <div *ngFor="let item of menus" class="itm"
    [class]="{ 'active-menu': item.active  }" (click)="openPage(item)">
      <ul class="father">
        <li class="father-li">
          <img [src]="item.icon" alt="">
          <p>{{ item.name | translate }}</p>
        </li>
      </ul>
    </div>
  </section>

</ion-menu>

<ion-app>
  <ion-router-outlet id="main" swipeBackEnabled="false"></ion-router-outlet>
</ion-app>
