.img-container {
    position: relative;
}

.backing {
    position: absolute;
    top: 10px;
    left: 10px;
    button {
        background-color: transparent;
        color: #000;
    }
}

.cmpt-login{
    background-color: #fff;
}

.register {
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 10px 20px;
    button {
        background-color: #3071fa;
        color: #fff;
        padding: 10px;
        border-radius: 4px;
        width: 100%;
    }
}

.error{
    border-bottom: 1px solid #ff0000 !important;
}