<section class="tarjeta-comentario">
  <section class="post">
    <div class="perfil">
      <img src="assets/imgs/home/builder.png" alt="">
    </div>
    <div class="datos">
      <p class="nombre">Juan López Sarrelangue</p>
      <p class="tiempo">14 mins</p>
    </div>
  </section>

  <section class="comentario">
    <p>Solicito un plomero para el día de hoy</p>
  </section>

  <section class="info-likes">
    <div class="like">
      <span class="material-icons">
        thumb_up
      </span>

    </div>
    <p class="cuantos">12</p>

    <div class="like ">
      <span class="material-icons dis-like">
        thumb_up
      </span>

    </div>
    <p class="cuantos">12</p>
  </section>

  <section class="botones">
    <div class="individual">
      <span class="material-icons-outlined">
        thumb_up
      </span>
      <p>Me gusta</p>
    </div>

    <div class="individual">
      <span class="material-icons-outlined">
        question_answer
        </span>
      <p>Comentar</p>
    </div>

  </section>
</section>