<app-header [title]="'Capsula Informativa'"></app-header>

<ion-content>
  <container-app>
  
    <container *ngIf="viewMaterias">
      <ion-list>
        <ion-item class="list_materias" *ngFor="let item of listMaterias">
          <ion-label (click)="getCapsulasList(item)" [style.color]="genericService.getColorHex()" >{{item.label}}</ion-label>
        </ion-item>
      </ion-list>
    </container>

    <container *ngIf="viewCapsulasList">
      <h3 [style.color]="genericService.getColorHex()">{{title}}</h3>
      <ion-list class="list_capsulas">
        <ion-item (click)="getCapsulas(item)" *ngFor="let item of capsulasInfo">
          <ion-label [style.color]="genericService.getColorHex()" >{{item.nombre}}</ion-label>
        </ion-item>
      </ion-list>
    </container>

    <container *ngIf="viewCapsulas">
      <h3 [style.color]="genericService.getColorHex()">{{titleCapsula}}</h3>
      <div [innerHTML]="descripcion"></div>
      <video autoplay controls>
        <source [src]="url+video">
        Your browser does not support the video tag.
      </video>
      <div></div>
    </container>
  </container-app>

</ion-content>
  