.list_materias{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    ion-label{
        cursor: pointer;
    }
            ion-label:hover{
                transition: 0.3s;
                opacity: 0.4;
            }
}
h3{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: bold;
}
.list_capsulas{
    ion-label{
        cursor: pointer;
    }
            ion-label:hover{
                transition: 0.3s;
                opacity: 0.4;
            }
}

@media only screen and (min-width: 400px) {
   video{
       width: 100%;
   }
  }

@media only screen and (min-width: 700px) {
   video{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;

   }
  }
  @media only screen and (min-width:845px) {
    video{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
   }
   @media only screen and (min-width:1000px) {
    video{
        width: 67%;
   margin-left: 16.5%;
   margin-right: 16.5%;
    }
   }
   .box_btn{
    text-align-last: center;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    .boton-desk{
        display: none;
        padding: 10px;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        cursor: pointer;
        border: none;
        color: #fff;
        width: 48%;
          margin-left: 1%;
          margin-right: 1%;
          border-radius: 4px;
      }
}
@media only screen and (max-width: 3550px) and (min-width: 850px) {
    .box_btn .boton-desk{
        padding: 10px;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        cursor: pointer;
        border: none;
        color: #fff;
        width: 30%;
          margin-left: 1%;
          margin-right: 1%;
          border-radius: 4px;
        display: inline-block;
    }
}
   

 