<mat-drawer-container class="example-container" [hasBackdrop]="true" (window:resize)="onResize($event)">
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <section class="menu">
      Menú
    </section>

    <section class="menus">
      <div *ngFor="let menu of menus" (click)="open(menu)" class="menu-interno">
        <span class="material-icons-outlined">
          {{menu.icon}}
          </span>
          {{menu.title}}
      </div>
    </section>
  </mat-drawer>

  <section class="sidenav-content">
    <section class="header-admon">
      <button type="button" mat-button (click)="drawer.toggle()" class="visual-menu">
        <span class="material-icons">
          list
        </span>
      </button>

      <p>Administración</p>
    </section>

    <section [ngSwitch]="menuActivo" class="switch">
      <section *ngSwitchCase="1">
        <table>
          <caption>Temas de interés</caption>
          <thead>
            <tr>
              <th scope="col">Descripción</th>
              <th scope="col">Imagen</th>
              <th scope="col"></th>
              <th scope="col"></th>

            </tr>
          </thead>

          <tbody *ngIf="temas && temas.length > 0">

            <tr *ngFor="let tema of temas">
              <td data-label="Descripción">{{ tema.label }}</td>

              <td data-label="Imagen">
                <img [src]="img + tema.id_archivo" alt="" *ngIf="tema.id_archivo">
              </td>

              <td data-label="Editar" style="cursor: pointer;" (click)="edit(tema)">
                <span class="material-icons-outlined">
                  build
                </span>
              </td>

              <td data-label="Eliminar" style="cursor: pointer;" (click)="delete(tema)">
                <span class="material-icons-outlined">
                  delete
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!temas || temas.length == 0" style="text-align: center;padding: 10px;">

          Sin registros disponibles
        </div>
      </section>

      <div class="add">
        <button (click)="create()">
          <span class="material-icons-outlined">
            add
          </span>
        </button>
      </div>
    </section>
  </section>

</mat-drawer-container>