.containers {
    margin-top: 50px;
    .badgescard,
    .firstinfo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        position: relative;
        animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 2%;
    }

    .card {
        width: 100%;
        min-height: 100px;
        padding: 20px;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;
        margin: auto;
    }

    .card:after {
        content: "";
        display: block;
        width: 190px;
        height: 300px;
        background: var(--colores);
        position: absolute;
        animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
    }

    .badgescard {
        padding: 3px;
        border-radius: 3px;
        background-color: var(--colores);
        color: #fff;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        z-index: -1;
        animation: animainfos 0.3s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.1s forwards;
        opacity: 0.8;
        position: sticky;
        transform: translateY(-30px);
    }
    .showAnimation {
        animation: animainfos 0.3s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.1s forwards;
    }
    .hideAnimation {
        animation: animainfos1 0.3s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.1s forwards;
        transform: translateY(0px);
    }

    .badgescard ion-icon {
        font-size: 1.6em;
        margin: 0px 6px;
        opacity: 0.6;
        cursor: pointer;
    }

    .firstinfo {
        flex-direction: row;
        z-index: 2;
        position: relative;
    }

    .firstinfo section img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    .firstinfo .profileinfo {
        padding: 0px 20px;
        display: block;
        width: 100%;
    }

    .firstinfo .profileinfo h1 {
        font-size: 1.8em;
    }

    .firstinfo .profileinfo h3 {
        font-size: 1.2em;
        color: #00bcd4;
        font-style: italic;
    }

    .firstinfo .profileinfo p.bio {
        padding: 0px 0px;
        color: #5a5a5a;
        line-height: 1.2;
        font-style: initial;
        display: inline-block;
        width: 45%;
        margin: 10px 0px 0px 20px;
    }

    @keyframes animatop {
        0% {
            opacity: 0;
            bottom: -500px;
        }
        100% {
            opacity: 1;
            bottom: 0px;
        }
    }

    @keyframes animainfos {
        0% {
            transform: translateY(-30px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    @keyframes animainfos1 {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(-30px);
        }
    }

    @keyframes rotatemagic {
        0% {
            opacity: 0;
            transform: rotate(0deg);
            top: -24px;
            left: -253px;
        }
        100% {
            transform: rotate(-30deg);
            top: -24px;
            left: -78px;
        }
    }
}

@media only screen and (max-width: 360px) and (min-width: 5px) {
    .containers .content {
        width: 98%;

        .firstinfo .profileinfo h1 {
            margin-top: 0px;
            font-size: 12px;
        }
        .firstinfo .profileinfo h3 {
            margin-top: 0px;
            font-size: 10px;
        }
        .firstinfo .profileinfo p.bio {
            margin: 0px 0px 0px 0px;
            font-size: 11px;
            width: 100%;
        }
        .firstinfo .profileinfo p strong {
            display: block;
        }

        .card:after {
            width: 40%;
            height: 128%;
        }
        .card {
            padding: 5px 20px 0px 20px;
        }
        .seccion {
            width: 65px;
            max-width: 65px;
            height: 65px;
            min-width: 65px;
        }
        .firstinfo .profileinfo {
            padding: 0px 0px;
            display: block;
            width: 100%;
            margin-left: 10%;
        }
        .firstinfo .profileinfo a {
            font-size: 8px;
        }
    }
}
@media only screen and (max-width: 600px) and (min-width: 361px) {
    .containers .content {
        width: 98%;
        .firstinfo .profileinfo h1 {
            margin-top: 0px;
            font-size: 16px;
        }
        .firstinfo .profileinfo h3 {
            margin-top: 0px;
            font-size: 14px;
        }
        .firstinfo .profileinfo p.bio {
            margin: 0px 0px 0px 0px;
            font-size: 14px;
            width: 100%;
        }
        .firstinfo .profileinfo p strong {
            display: block;
        }

        .card:after {
            width: 28%;
            height: 128%;
        }
        .card {
            padding: 5px 20px 0px 20px;
        }
        .firstinfo section img {
            width: 25%;
            height: 25%;
        }
        .firstinfo .profileinfo {
            padding: 0px 0px;
            display: block;
            width: 100%;
            margin-left: 5%;
        }
        .firstinfo .profileinfo a {
            font-size: 11px;
        }
    }
}
@media only screen and (max-width: 720px) and (min-width: 601px) {
    .containers .content {
        width: 98%;
        .firstinfo .profileinfo h1 {
            margin-top: 0px;
            font-size: 20px;
        }
        .firstinfo .profileinfo h3 {
            margin-top: 0px;
            font-size: 16px;
        }
        .firstinfo .profileinfo p.bio {
            margin: 0px 0px 4px 0px;
            font-size: 16px;
            width: 100%;
        }

        .card:after {
            width: 25%;
            height: 128%;
        }
        .card {
            padding: 5px 20px 0px 20px;
        }
        .firstinfo section img {
            width: 20%;
            height: 20%;
        }
        .firstinfo .profileinfo {
            padding: 0px 0px;
            display: block;
            width: 100%;
            margin-left: 5%;
        }
        .firstinfo .profileinfo a {
            font-size: 13px;
            margin: 10px 0px 4px 20px;
        }
    }
}

@media only screen and (max-width: 850px) and (min-width: 721px) {
    .containers .content {
        width: 80%;
        .firstinfo .profileinfo h1 {
            margin-top: 0px;
            font-size: 23px;
        }
        .firstinfo .profileinfo h3 {
            margin-top: 0px;
            font-size: 19px;
        }
        .firstinfo .profileinfo p.bio {
            margin: 0px 0px 4px 0px;
            font-size: 19px;
            width: 100%;
        }

        .card:after {
            width: 25%;
            height: 128%;
        }
        .card {
            padding: 5px 20px 0px 20px;
        }
        .firstinfo section img {
            width: 20%;
            height: 20%;
        }
        .firstinfo .profileinfo {
            padding: 0px 0px;
            display: block;
            width: 100%;
            margin-left: 3%;
        }
        .firstinfo .profileinfo a {
            font-size: 15px;
            margin: 10px 0px 4px 20px !important;
        }
    }
}

@media only screen and (max-width: 1000px) and (min-width: 851px) {
    .containers .content {
        width: 80%;
        .firstinfo .profileinfo h1 {
            margin-top: 0px;
            font-size: 24px;
        }
        .firstinfo .profileinfo h3 {
            margin-top: 0px;
            font-size: 20px;
        }
        .firstinfo .profileinfo p.bio {
            margin: 0px 0px 4px 0px !important;
            font-size: 20px;
            width: 100%;
            margin: auto;
        }

        .card:after {
            width: 25%;
            height: 128%;
        }
        .card {
            padding: 5px 20px 0px 20px;
        }
        .firstinfo section img {
            width: 20%;
            height: 20%;
        }
        .firstinfo .profileinfo {
            padding: 0px 0px;
            display: block;
            width: 100%;
            margin-left: 10%;
        }
        .firstinfo .profileinfo a {
            font-size: 15px;
            margin: 10px 0px 4px 20px !important;
        }
    }
}

@media only screen and (max-width: 3600px) and (min-width: 1001px) {
    .containers .content {
        width: 75%;
        .firstinfo .profileinfo h1 {
            margin-top: 0px;
            font-size: 24px;
        }
        .firstinfo .profileinfo h3 {
            margin-top: 0px;
            font-size: 20px;
        }
        .firstinfo .profileinfo p.bio {
            margin: 0px 0px 4px 0px;
            font-size: 20px;
            width: 50%;
            margin: auto;
        }
        .firstinfo .profileinfo p strong {
            display: block;
        }

        .card:after {
            width: 15%;
            height: 128%;
        }
        .card {
            padding: 5px 20px 0px 20px;
        }
        .firstinfo section img {
            width: 12%;
            height: 12%;
        }
        .firstinfo .profileinfo {
            padding: 0px 0px;
            display: block;
            width: 100%;
            margin-left: 3%;
        }
        .firstinfo .profileinfo a {
            font-size: 16px;
            margin: 10px 0px 4px 20px !important;
        }
    }
}
.seccion {
    width: 100px;
    max-width: 100px;
    height: 100px;
    min-width: 100px;
    img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        object-position: center !important;
    }
}

.dvd{
    width: 100% !important;
}

.dvd-srvs{
    width: 50% !important;
    p{
        margin: 0;
        color: #5a5a5a;
        font-size: 13px;
    }

    @media(max-width:400px){
        p{
            font-size: 10px;
        }
    }
}