.boton-sham{
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;
  width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 4px;
    display: inline-block;
}