/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./assets/css/animations.scss";
@import "~swiper/swiper.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*Login global*/
@import "./app/css-global/login.scss";
//@import "./app/css-global/login.scss";

.popover-class {
    .popover-wrapper {
        .popover-content {
            top: 25px !important;
            left: unset !important;
            right: 5px !important;
        }

        .popover-arrow:after {
            display: none !important;
        }
    }

    .popover-wrapper:after {
        content: "";
        position: absolute;
        top: 7px;
        left: unset;
        right: 12px;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: solid 10px transparent;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
        border-bottom: solid 10px #fff;
    }
}

.ion-page {
    background-color: #f3efef;
    --ion-background-color: #f3efef;
}

ion-content {
    position: unset;
}

body.swal2-height-auto {
    height: inherit;
}

.swal2-container {
    //position: relative !important;
}

.alerta-vista-warn {
    .swal2-actions {
        button {
            background-color: #ffde46;
            color: #5e5e5e;
        }
    }

    .swal2-content {
        div {
            .mensaje {
                p {
                    font-weight: 600;
                }
            }
        }
    }
}

.alerta-vista-error {
    .swal2-actions {
        button {
            background-color: #ff0707;
            color: #fff;
        }
    }

    .swal2-content {
        div {
            .mensaje {
                p {
                    font-weight: 600;
                }
            }
        }
    }
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.mat-drawer-container {
    height: -webkit-fill-available;
}

.mat-drawer-inner-container {
    width: 300px !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #3498db !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #3498db !important;
}

.mat-dialog-container {
    max-height: 500px !important;
}

.mat-drawer-content {
    margin-left: 0px !important;
}
