h3{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: bold;
}
.box_btn{
    text-align-last: center;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    .boton-sham{
        padding: 10px;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        cursor: pointer;
        border: none;
        color: #fff;
        width: 48%;
          margin-left: 1%;
          margin-right: 1%;
          border-radius: 4px;
          display: inline-block;
      }
}
.box_question{
padding: 1px;
    .accordion {
        background-color: #eee;
        color: #444;
      
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        display: block;
        width: 100%;

        .title_accordion{
            display: inline-block;
    width: 90%;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
        }

        ion-icon{
            font-size: 25px;
            cursor: pointer;
            float: right;
        }
    }
    
    .active, .accordion:hover {
        background-color: #ccc;
    }
    
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    
}
.list_materias{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    ion-label{
        cursor: pointer;
    }
            ion-label:hover{
                transition: 0.3s;
                opacity: 0.4;
            }
}