.buscando {
    img {
        width: 10%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 3%;
    }

    input {
        width: 87%;
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        border: 1px solid #cacaca;
        border-radius: 20px;
        outline: none;
    }
}
